* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #FFF180;
}

p, h1, h4, footer {
	color: #FFF180;
}

#webdev-services, #graphics-services, #marketing-services, #dropdown {
	color: #FFF180;
}

#links {
	border-top: 3px solid #FFF180;
	border-bottom: 3px solid #FFF180;
	padding-bottom: 10px;
	padding-top: 10px;
}

#dropdown {
	background-color: #FFF180;
	text-color: #212529;
}

#webdev-services div {
	border-color: #FFF180;
}

#graphics-services div {
	border-color: #FFF180;
}

#marketing-services div {
	border-color: #FFF180;
}

#whatiuse {
	border-top: 3px solid #FFF180;
	border-style: dotted;
}

#marketing-title, #webdev-title, #graphics-title, #contact-title{
	border-bottom: 3px solid #FFF180;
	border-style: dotted;
}

#tools-header {
	color: #FFF180;
}

#webdev-tools div {
	border-color: #FFF180;
}

#graphic-tools div {
	border-color: #FFF180;
}

#marketing-tools div {
	border-color: #FFF180;
}

h3 {
	color: #FFF180;
}

#tools, #projects {
	background: url("./images/tools-bg.png");
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#form {
	background-color: #FFF180;
	text-color: #CF9093;
}

.modal-header, .modal-body, .modal-footer {
	background-color: #FFF180;
	text-color: #212529;
	border-bottom: 2px solid #CF9033;
}

/*#contact-section .row {
	display: flex;
}

#contact-section .row > div {
	flex:1;
}

@media only screen and (max-width: 600px) {
	#contact-section .row {
		display: block;
	}
}
*/
#description, #copyright {
	font-size: 15px;
}

#description {
	margin-bottom: 5px;
}

ul li {
	list-style: none;
	text-decoration: none !important;
	margin: 0;
	padding: 0;
	font-size: 21px;
}

#icons a {
	color: black;
}

#btn-back-to-top a{
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #CE9033;
  padding: 10px;
  border: solid 5px #CE9033;
  border-radius: 40px;
}